.menusec{   width: 100%;
    letter-spacing: .5px;
    margin-top: -7%;
    z-index: 1000;
    margin-left: 5%;
}

.menusec ul{
    bottom: 0;
    height: 76px;
    display: flex;
    position: relative;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.menusec ul .list-item{
    display: flex;
    border-right: 1px solid #393939;
    box-sizing: border-box;
    margin-top: 10px;
}

@media(min-width: 100px) {
    .menusec ul .list-item .sect-link {
        padding:0 20px;
        text-align: left
    }
}

.menusec ul .list-item .sect-link:before {
    transform: scaleX(0);
    transition: transform .25s ease-in-out;
    transform-origin: 0 50%;
    content: "";
    border-top: 5px solid #e62429;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
}

.menusec ul .list-item:last-child {
    border-right: 0
}   

.menusec ul .list-item .sect-link--active, .sect-link:hover {
    color: #fff
}

.menusec ul .list-item .sect-link--active:before {
    transform: scaleX(1)
}

.menusec .sect-link--active .menusec .sect-text {
    margin-top: -5px
}

.sect-text {
    max-width: 90px;
    width: 100%;
    font-family: Roboto,Trebuchet MS,Helvetica,Arial,sans-serif;
    font-size: 11px;
    line-height: 12px;
    font-weight: bold;
}